@tailwind base;
@tailwind components;
@tailwind utilities;

 /* To fix viiewport height issues on mobile browsers */
.h-screen-custom{
    height: 100vh;
    height: 100svh;
    /* height: 100dvh; */
}

/* For Webkit-based browsers  */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
